
{
    "extends": "eslint-config-olaf/typescript",
    "rules": {
      "@typescript-eslint/no-var-requires": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "react/react-in-jsx-scope": "off",
      "@typescript-eslint/no-empty-function": "off"
    },
    "env": {
      "jest": true,
      "node": true,
      "browser": true
    }
}