.btn_submit {
    background: #ec4d6e;
    color: #fff;
    text-align: center;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 70px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 0px #333;
}

.disable {
    opacity: 0.4
}