.article {
    .txt_rank {
        font-size: 35px;
        text-align: center;
    }   
    .txt_label {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin: 12px 0 30px;
    }
}